.OrdersWidget {
  width: 180px;
  height: 100px;
  padding: 20px;

  text-align: center;
  vertical-align: center;
}

.orderImage {
  height: 40px;
}

.ordersHeader {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.ordersColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.ordersDataRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}
